---
import Thing from "../components/thing.astro";
import PropertiesPanel from "../components/properties-panel.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Random Thing</title>
	</head>
	<body class=" bg-stone-900">
		<div id="thing-layer">
			<Thing class_name="light" img="./icons/lightbulb.svg"/>
			<Thing class_name="button" img="./icons/button.svg"/>
		</div>
		<PropertiesPanel />
	</body>
</html>