---
import Thing from "../components/thing.svelte";
import PropertiesPanel from "../components/properties-panel.svelte";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Random Thing</title>
  </head>
  <body class="bg-stone-900">
    <div id="thing-layer">
      <Thing class_name="light" id="0" client:load />
      <Thing class_name="button" id="1" client:load />
      <Thing class_name="fan" id="2" client:load />
    </div>
    <PropertiesPanel client:load />
  </body>
</html>
